<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Happy Place</title>
    <link rel="stylesheet" href="public/css/styles.css" />
  </head>
  <body>
    <header class="hero-banner">
      <div class="container">
        <div class="hero-text-box">
          <h1>Welcome to The Happy Place</h1>
        </div>
      </div>
    </header>

    <section class="info-section">
      <div class="container grid-3-cols">
        <div class="info-col">
          <h2>About us</h2>
          <p><%= aboutText%></p>
        </div>

        <div class="info-col">
          <h2>Menu</h2>
          <p>
            With a delicious listing, you have lots of tasty food to choose
            from.
          </p>
          <a href="/menu" class="btn">View Menu</a>
        </div>

        <div class="info-col">
          <h2>Working Hours</h2>
          <p>
            We try to stay open so you get the food you want when you want it.
          </p>
          <a href="/hours" class="btn">View Hours</a>
        </div>
      </div>
    </section>
  </body>
</html>
